.banner {
  background-image: url("../../images/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  height: 100vmin;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: wheat;
}

.banner > h1 {
  margin: 5vmax;

  font: 600 2.5vmax "Roboto";
}

.banner > p {
  font: 300 1.4vmax "Lucida Sans";
}

.banner > a > button {
  margin-bottom: 5vmax;
  cursor: pointer;
  background-color: white;
  border: 1px solid white;
  border-radius: 0;
  padding: 1vmax;
  transition: all 0.5s;
  width: 9vmax;
  font: 500 1vmax "Roboto";
}
.banner > a > button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.banner::after {
  content: "";
  width: 100vw;
  height: 100vmin;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 0;
  clip-path: polygon(100% 82%, 0 98%, 100% 89%);
  max-width: 100%;
}

.homeHeading {
  text-align: center;
  font-family: Roboto;
  font-size: 1.4vmax;
  border-bottom: 1px solid rgba(21, 21, 21, 0.5);
  width: 20vmax;
  padding: 1vmax;
  margin: 5vmax auto;
  color: rgb(0, 0, 0, 0.7);
}

.container {
  display: flex;
  margin: 2vmax auto;
  width: 80vw;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  color: #444;
}
.productard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  align-items: center;
  margin: 2vmax;
  transition: all 0.5s;
  padding-bottom: 0.5vmax;
  color: #444;
}
.productCard > img {
  width: 14vmax;
}

.productCard > div {
  margin: 0.1vmax;
  justify-content: flex-start;
  align-items: center;
  color: #444;
}

.productCardSpan {
  color: #444;

  margin: 0.5vmax;
  font: 500 0.7vmax "Roboto";
  text-decoration: none;
}

.productCard > p {
  color: #444;
  font-family: "Roboto";
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
  text-align: center;
  text-decoration: none;
}

.productCard > span {
  margin: 0.5vmax;
  color: #444;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1vmax;
  text-decoration: none;
}

.productCard:hover {
  box-shadow: 0 0 5px rgba(15, 15, 15, 0.26);

  transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }

  .productCard > div {
    margin: 0vmax;
    display: block;
  }

  .productCard > span {
    font-size: 1.5vmax;
  }

  .productCard > div > span {
    margin: 0 0.5vmax;
    font: 300 1vmax "Roboto";
  }
}

.view {
  display: flex;

  align-items: center;
  justify-content: space-between;
}
/* product*/
.searchBox {
  width: 100vw;
  margin-top: 20px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
* {
  text-decoration: none;
}
.searchBox > input[type="text"] {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.274);

  border: none;
  color: rgba(0, 0, 0, 0.637);
  padding: 1vmax 2vmax;

  outline: none;
  border-radius: 0%;
  font: 200 1.1vmax cursive;
  box-sizing: border-box;
  height: 8%;
}

.searchBox > input[type="button"] {
  text-align: center;
  height: 8%;
  border-radius: 0%;
  background-color: #444;
  border: none;
  padding: 1vmax;
  width: 10%;
  cursor: pointer;
  color: white;
  transition: all 0.5s;
}

.searchBox > input[type="button"]:hover {
  background-color: white;
  color: black;
  border: 1px solid;
}
